p{
    color:#FF0099;
    text-shadow: 2px 2px 5px blue;
}

a{
    color: blue;
    text-decoration: none;
}

a:hover{
    color:red;
    font-size: 20px;
}

.img1{
    border: 3px solid #ff00aa; 
    border-radius: 20px; 
    box-shadow: 10px 10px 5px lightblue;
    height: 300px ;
}

.img-circle{
   border-radius: 300px;
}

h1{
    color:blue;
}

h2{
    color: red;
}

